.slider__social {
    position: relative;
    padding: 30px;
    overflow:  hidden;
    min-height: 100%;
    background: $SignalBlack;
    .title {
        color: $white;
        font-family: futura_f;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 1.44px;
        padding: 6.25rem 0 5rem 10.12rem;
    }

    .social__slider {
        padding: 30px 0 70px 0;
    }

    .social__slider__img {
        text-align: center;
        img {
            width: 100%;
            height: 24rem;
        }
     }
     
     .swiper-button-prev{
        position: absolute;
        top: 97%;
        left: 78%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;
        background-color: transparent;
        border: none;
        outline: none;
        &::after {
            color: $white;
            font-size: 40px;
        }
     }
     .swiper-button-next {
        position: absolute;
        top: 97%;
        left: 94%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;
        background-color: transparent;
        border: none;
        outline: none;
        &::after {
            color: $white;
            font-size: 40px;
        }
     }
     .social__slider .swiper-pagination {
        bottom: 2rem;
        left: 80%;
        width: 14%;
     }
     .social__slider .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
        line-height: 1.2rem;
        font-size: 1rem;
        background-color: $white;
     }

}