$Black: #000000;
$SignalBlack: #272727;
$BrownGray: #2F2F2F;
$ModerateMagentaBlue: #364364;
$PlatinumGray: #757575;
$SignalGray: #959595;
$gray: #9b9b9b;
$Silver: #C2C2C2;
$white: #fff;
$Crimson: #d62240;




