.footer {
    padding: 5rem 0 5.62rem 0;
    background: $SignalBlack;
    display: flex;
    flex-direction: column;
    &__menu {
        @include flexibleAssemblyRow;
        &__link {
            cursor: pointer;
            color: $white;
            font-family: futura_f;
            font-size: 0.8rem;
            font-weight: 450;
            letter-spacing: 0.84px;
            text-transform: uppercase;
            margin-right: 4.5rem;
        }
        &__link:nth-child(5) {
            margin-right: 0;
        }
    }
    &__hotline {
        @include flexibleAssemblyRow;
        align-items: center;
        margin-top: 5.62rem;
        .logo {
            margin-right: 24.6rem;
        }
        p {
            color: $white;
            font-family: futura_f;
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 0.7px;
            text-transform: uppercase;
        }
        a {
            color: $Silver;
            font-family: futura_f;
            font-size: 1.1rem;
            font-weight: 300;
        }
        &__phone {
            margin-right: 5rem;
            .phone {
                display: block;
                margin-top: 3rem;
            }
            .footer__icons {
                margin-top: 1rem;
            }
        }
        &__news {
            .footer__icons {
                margin-top: 1rem;
            }
        }
    }
}

        
