.connection {
    display: flex;
    &__foto {
        height: 640px;
    }
    &__hotline {
        width: 62vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__phone {
            width: 19rem;
            p {
                color: $SignalBlack;
                font-family: futura_f;
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                margin-bottom: 1.8rem;
            }
            a {
                color: $SignalGray;
                font-family: futura_f;
                font-size: 1.3rem;
                font-weight: 300;
            }
        }
        &__news {
            margin-top: 6.87rem;
            p {
                color: SignalBlack;
                font-family: futura_f;
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: 0.9px;
                text-transform: uppercase;
            }
        }
    }

    .connection-form__field {
        color: $SignalBlack;
    }
    .connection-form__label {
        color: $SignalBlack;
    }
}